@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>
<body>

<style>

    body {
        background-image: url("https://static.vecteezy.com/system/resources/previews/003/763/119/large_2x/christmas-dinner-party-table-photo.jpg");
        background-color: rgba(255,255,255,0.6);
        background-blend-mode: lighten;
    }
    .container {
        text-align: center;
        height: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
</style>

<style>
    .center {
        top: 50%;
        padding: 5%;
    }
</style>


<div class="container">
    <b style="font-family: 'Chalkduster'; font-size: 45px ">Não sei porque estou a perder tanto tempo nisto</b>
</div>

<div class="container">
    <p style="font-family: 'Chalkduster'; font-size: 25px ">
        bla bla bla bla blabla bla bla bla blabla bla bla bla blabla bla bla bla blabla bla bla bla blabla bla bla bla blabla bla bla bla bla
        bla bla bla bla blabla bla bla bla blabla bla bla bla blabla bla bla bla bla
        bla bla bla bla blabla bla bla bla blabla bla bla bla bla
        bla bla bla bla bla
        bla bla bla bla bla.bla bla bla bla blabla bla bla bla blabla bla bla bla blabla bla bla bla bla
    </p>
</div>
<div class="container">
    <div class="center">
        <button class="button-53" style="margin:5px;" role="button">Aceitar Convite</button>
        <button class="button-54" style="margin:5px;" role="button">Cheiro Mal</button>
    </div>
</div>

</body>
</html>
