@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        body {
            background-image: url("https://static.vecteezy.com/system/resources/previews/003/763/119/large_2x/christmas-dinner-party-table-photo.jpg");
            background-color: rgba(255,255,255,0.6);
            background-blend-mode: lighten;
        }

        .container {
            text-align: center;
            height: 100%;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
        }
        .center {
            top: 50%;
            padding: 5%;
        }

        #overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 2;
            cursor: pointer;
        }



        #text {
            text-align: center;
            position: absolute;
            top: 20%;
            left: 50%;
            font-size: 35px;
            color: white;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }
    </style>

</head>
<body>



    <div id="overlay" onclick="off()">
        <img style="border-radius: 50%; max-width:60vw; max-height:100; width: 100%; height: auto; " src="https://i.pinimg.com/originals/a3/ca/5d/a3ca5d8f93fc2514e6e044275c678e8e.gif"/>

        <div style="font-family: 'Chalkduster'" id="text">YEY!</div>
    </div>


    <div class="container">
        <b style="font-family: 'Chalkduster'; font-size: 45px ">Não sei porque estou a perder tanto tempo nisto</b>
    </div>

    <div class="container">
        <p style="font-family: 'Chalkduster'; font-size: 25px ">
            bla bla bla bla blabla bla bla bla blabla bla bla bla blabla bla bla bla blabla bla bla bla blabla bla bla bla blabla bla bla bla bla
            bla bla bla bla blabla bla bla bla blabla bla bla bla blabla bla bla bla bla
            bla bla bla bla blabla bla bla bla blabla bla bla bla bla
            bla bla bla bla bla
            bla bla bla bla bla.bla bla bla bla blabla bla bla bla blabla bla bla bla blabla bla bla bla bla
        </p>
    </div>
    <div class="container">
        <div class="center">
            <button class="button-53" style="margin: 5px; margin-top: 40px; cursor: pointer" role="button" onclick="on()">Aceitar Convite</button>
            <button class="button-54" style="margin: 5px; margin-top: 40px; cursor: pointer" role="button" onclick="on()">Cheiro Mal</button>
        </div>
    </div>


    <script>function on() {
            document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }
    </script>

</body>
</html>
