@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        body {
            background-image: url("https://static.vecteezy.com/system/resources/previews/003/763/119/large_2x/christmas-dinner-party-table-photo.jpg");
            background-color: rgba(255,255,255,0.6);
            background-blend-mode: lighten;
        }

        .container {
            text-align: center;
            height: 100%;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
        }
        .center {
            top: 50%;
            padding: 5%;
        }

        #overlay1 {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 2;
            cursor: pointer;
        }

        #overlay2 {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 2;
            cursor: pointer;
        }


        #text {
            text-align: center;
            position: absolute;
            top: 20%;
            left: 50%;
            font-size: 35px;
            color: white;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }
    </style>

</head>
<body>



    <div id="overlay1" onclick="off1()">
        <img style="border-radius: 50%; max-width:60vw; max-height:100%; width: 100%; height: auto; " src="https://i.pinimg.com/originals/a3/ca/5d/a3ca5d8f93fc2514e6e044275c678e8e.gif" />

        <div style="font-family: 'Chalkduster'" id="text">Parabéns!</div>
    </div>

    <div id="overlay2" onclick="off2()">
        <img style="border-radius: 50%; max-width:60vw; max-height:100%; width: 80%; height: auto; " src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/785e808d-e918-4754-b7c0-6bf4e5e95485/d8uwngs-0a2106b4-df71-4d92-9554-9f6c1fa2f287.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc4NWU4MDhkLWU5MTgtNDc1NC1iN2MwLTZiZjRlNWU5NTQ4NVwvZDh1d25ncy0wYTIxMDZiNC1kZjcxLTRkOTItOTU1NC05ZjZjMWZhMmYyODcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.4OjqHsz80bjz0f6L-hTgq2QOVZF8QGgofc6eEKqQlHo" />

        <div style="font-family: 'Chalkduster'; color: black" id="text">Tenta outra vez...</div>
    </div>


    <div class="container">
        <b style="font-family: 'Chalkduster'; font-size: 45px ">Voucher para utilizador sorteado</b>
    </div>

    <div class="container">
        <p style="font-family: 'Chalkduster'; font-size: 25px ">
            Bom dia JORGE MATOS. É com prazer que queremos informar que se encontra num grupo restrito de pessoas qualificadas, definidas como prioritário. Isto significa que recebeu este convite para participar nesta experiência. O convite tem duração limitada e só poderá ser usado por si.
        </p>
    </div>
    <div class="container">
        <div class="center">
            <button class="button-53" style="margin: 5px; margin-top: 40px; cursor: pointer" role="button" onclick="on1()">Aceitar Convite</button>
            <button class="button-54" style="margin: 5px; margin-top: 40px; cursor: pointer" role="button" onclick="on2()">Recusar Convite</button>
        </div>
    </div>


    <script>
        function on1() {
            document.getElementById("overlay1").style.display = "block";
        }

        function off1() {
            document.getElementById("overlay1").style.display = "none";
        }
        function on2() {
            document.getElementById("overlay2").style.display = "block";
        }

        function off2() {
            document.getElementById("overlay2").style.display = "none";
        }
    </script>

</body>
</html>
